@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'ZCOOL KuaiLe', sans-serif;


}

/* 移除之前的 APlayer 样式，改用以下样式 */
.aplayer.aplayer-fixed {
  z-index: 50;
  left: 0;
}

.aplayer.aplayer-fixed .aplayer-body {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.aplayer .aplayer-info .aplayer-music {
  color: #ec4899;
}

.aplayer.aplayer-fixed.aplayer-mini .aplayer-body {
  left: 0;
}
